/* 全体のリセットとレイアウト */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

header {
  background-color: #3561ba;
  color: white;
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(90deg, rgba(210, 14, 255, 1), rgba(0, 119, 255, 1) 100%, rgba(65, 164, 253, 1));
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#rule{
  background-color: #3561ba;
  color:white;
  border-radius: 10px;
  width: 360px;
  margin: 50px;
  padding: 20px;
  background-image: linear-gradient(30deg, rgba(65, 164, 253, 1), rgba(255, 255, 255, 0) 100%, rgba(14, 244, 255, 1));
}




footer {
  background-color: #3561ba;
  color: white;
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(90deg, rgba(210, 14, 255, 1), rgba(0, 119, 255, 1) 100%, rgba(65, 164, 253, 1));
}